@{
	Layout = "../Shared/_Layout.cshtml";
}
<div class="header_middle">
	<div class="container" style="margin-left: 5%">
		<div class="header_logo">
			<a>
				<img src="~/images/logo.png" alt="logo">
			</a>
		</div>
	</div>
</div>
<div class="header_bottom"  style="margin-left: -20%">
	<div class="container">
		<nav class="main_nav">
			<ul style="height: 10px">
				<li><a asp-controller="admin" asp-action="approved"  class="active"> Tasdiqlanmagan e'lonlar</a></li>
				<li><a asp-controller="admin" asp-action="notapproved" >Tasdiqlangan e'lonlar</a></li>
				<li><a asp-controller="admin" asp-action="userList">Foydalanuvchilar ro'yhati</a></li>
			</ul>
		</nav>
	</div>
</div>
<div style="height:1500px">
	@RenderBody()
</div>

<div class="container">
	<section class="products">
		<div class="products_block">
		</div>
	</section>
</div>
<main>
	<section class="advantages" style="margin: 40px 0 -70px 0">
		<div class="container" style="height:300px">
			<div class="advantages_block">

			</div>
		</div>
	</section>

</main>