@{
	Layout = "../Shared/_Layout.cshtml";
}
<div class="header_middle">
				<div class="container">
					<div class="header_logo" style="margin-left: -13%">
						<a href="#">
							<img src="~/images/logo.png" alt="logo">
						</a>
					</div>
				</div>
			</div>
			<div class="header_bottom" style="margin-left: -13%">
				<div class="container">
					<nav class="main_nav">
						<ul style="height: 10px">
							<li><a asp-controller="user" asp-action="active2" asp-route-page="1" class="active"> Faol E'lonlar </a></li>
							<li><a asp-controller="user" asp-action="notActive" asp-route-page="2">Tasdiqlanmagan e'lonlar</a></li>
							<li><a asp-controller="user" asp-action="addpost" asp-route-page="1">E'lon yaratish</a></li>
						</ul>
					</nav>
				</div>
			</div>
<div>
	@RenderBody()
</div>

		<div class="container">
			<section class="products">
				<div class="products_block">
				</div>
			</section>
		</div>
	<main>
		<section class="advantages" style="margin: 40px 0 -70px 0">
			<div class="container">
				<div class="advantages_block">

					<div class="advatages_item">
						<div class="advatntage_images">
							<img src="~/images/adv_icon.png" alt="advantage_item">
						</div>
						<div class="advantage_name">Assartiment</div>
						<div class="advantage_description">
							Har doim stokda 22 000 dan ortiq<br>mahsulotlar turi<br> mavjud
						</div>
					</div>

					<div class="advatages_item">
						<div class="advatntage_images">
							<img src="~/images/adv_icon.png" alt="advantage_item">
						</div>
						<div class="advantage_name">Sifat</div>
						<div class="advantage_description">
							Ko'p darajali boshqaruv tizimi<br> standartga muvofiq sifat<br>
							<span>ISO9001</span>
						</div>
					</div>

					<div class="advatages_item">
						<div class="advatntage_images">
							<img src="~/images/adv_icon.png" alt="advantage_item">
						</div>
						<div class="advantage_name">Yetkazib berish</div>
						<div class="advantage_description">
							Biz barcha mahsulotlaringizni<br> 2 soat ichida yoki istalgan qulay vaqtda<br> yetkazib beramiz!
						</div>
					</div>

					<div class="advatages_item">
						<div class="advatntage_images">
							<img src="~/images/adv_icon.png" alt="advantage_item">
						</div>
						<div class="advantage_name">Sotib olish qaytariladi</div>
						<div class="advantage_description">
							Qolgan ortiqcha yoki sizni qoniqtirmagan<br> mahsulotingiz bormi? 120 kun ichida <br> <span>bizga qaytaring!</span>
						</div>
					</div>

				</div>
			</div>
		</section>

		</main>



