@{
	Layout = "../Shared/_Layout.cshtml";
}
<div class="header_middle">
	<div class="container">
		<div class="header_logo" style="margin-left:-10%; margin-top:55px; height:70%">
				<a href="#">
					<img src="~/images/logo.png" alt="logo" >
				</a>
		</div>
		<div class="header_search" style="margin-top:50px;">
			<form action="" style="width:100%">
				<input type="text" name="search" placeholder=""  style="width:100%" id="search">
					<button asp-controller="announcement" asp-action="search" style="background-color:red">Qidirish</button>
			</form>
		</div>
		<div class="header_contact" style="margin-left:85%; margin-top:-80px">
			<p>Dam olish kunlarisiz 9 dan 19 gacha</p>
				<p class="phone">
					<a href="tel:3812505977">(+123) <span>91-123-23-23</span></a>
				</p>
		</div>	
	</div>
</div>
<div class="header_bottom" style="height:50px; margin-left:-20%">
	<div class="container">
		<nav class="main_nav">
			<ul>
				<li><a asp-controller="announcement" asp-action="getall" class="active"> Asosiy </a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="2">Elektronika</a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="1">Hayvonlar</a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="3">Kiyimlar</a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="4">Uy</a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="6">Maishiy texnika</a></li>
				<li><a href="#">Kiyim Kechaklar</a></li>
				<li><a href="#">Hizmatlar</a></li>
				<li><a asp-controller="announcement" asp-action="category" asp-route-page="5">Mashinalar</a></li>
			</ul>
		</nav>
	</div>
</div>

<div>
	@RenderBody()
</div>


<main style="margin-bottom:-40px">
	<section class="advantages" >
		<div class="container">
			<div class="advantages_block">

				<div class="advatages_item">
					<div class="advatntage_images">
						<img src="~/images/adv_icon.png" alt="advantage_item">
					</div>
					<div class="advantage_name">Assartiment</div>
					<div class="advantage_description">
						Har doim stokda 22 000 dan ortiq<br>mahsulotlar turi<br> mavjud
					</div>
				</div>

				<div class="advatages_item">
					<div class="advatntage_images">
						<img src="~/images/adv_icon.png" alt="advantage_item">
					</div>
					<div class="advantage_name">Sifat</div>
					<div class="advantage_description">
						Ko'p darajali boshqaruv tizimi<br> standartga muvofiq sifat<br>
						<span>ISO9001</span>
					</div>
				</div>

				<div class="advatages_item">
					<div class="advatntage_images">
						<img src="~/images/adv_icon.png" alt="advantage_item">
					</div>
					<div class="advantage_name">Yetkazib berish</div>
					<div class="advantage_description">
						Biz barcha mahsulotlaringizni<br> 2 soat ichida yoki istalgan qulay vaqtda<br> yetkazib beramiz!
					</div>
				</div>

				<div class="advatages_item">
					<div class="advatntage_images">
						<img src="~/images/adv_icon.png" alt="advantage_item">
					</div>
					<div class="advantage_name">Sotib olish qaytariladi</div>
					<div class="advantage_description">
						Qolgan ortiqcha yoki sizni qoniqtirmagan<br> mahsulotingiz bormi? 120 kun ichida <br> <span>bizga qaytaring!</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>























































